.rc-container {
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  float: unset;
  line-height:1.5;
}
.rc-container .section{
    margin-bottom:4rem;
}
.rc-container .currency{
  color: #565656;
  margin-right: 0.5rem;
  margin-bottom: 0;
}
.rc-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rc-container .icon {
    max-width:45px;
}
.rc-container .row-sm {
    flex-direction:row!important;
}
.rc-container .row.centered-list{
  justify-content:center;
  width:auto;
}
.mb-1 {
    margin-bottom:1rem!important;
}
@media (max-width: 800px) {
  .rc-container .row {
    flex-direction:column;
  }
  .rc-container .row.centered-list{
    justify-content:center;
    width:fit-content;
    margin:auto;
  }
}
@media (min-width: 800px) {
  .rc-container .oc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    position: relative;
    width: 100%;
    max-width: 33.3333333333%;
  }
  .rc-container .fit-width-md {
      width:fit-content;
  }
  .rc-container .m-auto-md {
      margin:auto;
  }
}

.rc-container h1{
  color: #35416C;
  font-size: 30px !important;
  line-height:1.2;
  margin-bottom:1rem;
}

.rc-container .subtitle {
  color: #35416C;
  font-weight: 200;
  font-size: 1rem !important;
  margin-top: -1rem !important;
}


.rc-container .right {
  text-align:right;
}
.rc-container .center{
  text-align:center;
}
.rc-container .w-100 {
    width:100%;
}

.rc-container .big-box .counter{
  font-size: 4rem; 
  font-weight:700;
}

.rc-container .small-box .title {
  font-size: 1.25rem;
}
.rc-container .small-box .o-number{
  font-weight:700;
  line-height:1;
  margin-bottom:0.25rem;
}

.rc-container .small-box {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.rc-container .small-box .currency{
  margin-right: .25rem;
}

.rc-container .caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #888;
  text-align: right;
}

.rc-container .canvas.oil {
    background:rgb(116 27 71)
}
.rc-container .canvas.gas{
    background:rgb(246 178 107)
}
.rc-container .canvas.coal{
    background:rgb(53 28 117)
}
.rc-container .small-box.oil .title {
    color:rgb(116 27 71)
}
.rc-container .small-box.gas .title{
    color:rgb(246 178 107)
}
.rc-container .small-box.coal .title{
    color:rgb(53 28 117)
}
.rc-container .info {
    padding: 0 1rem;
}
.head h2 {
    margin-bottom:0;
    color:rgb(53 65 108)
}
.rc-container .d-contents {
    display:contents;
}
.rc-container .ps-1{
    padding-left:0.25rem;
}
